<div class="ui {{authService.isAdmin()?'four':'three'}} item tabs menu">
  <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a *ngIf="authService.isAdmin()" routerLink="admin" routerLinkActive="active" class="item">Administration</a>
  <a routerLink="account" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>

<a *ngIf="!authService.isAdmin()" routerLink="../../shoppingcart" routerLinkActive="active" class="ui buttons shopping_cart">
  <div class="ui button teal"><i class="shopping cart icon large"></i></div>
</a>



<router-outlet></router-outlet>
