<form  class="ui large form" [formGroup]="myForm" (ngSubmit)="submitRating()">
    <h3 class="ui header">Bewerte das Buch:</h3>
    <div class="field">
        <label>Sterne:</label>
        <i (click)="rateBook(1)" class="star outline icon ratingStar"></i>
        <i (click)="rateBook(2)" class="star outline icon ratingStar"></i>
        <i (click)="rateBook(3)" class="star outline icon ratingStar"></i>
        <i (click)="rateBook(4)" class="star outline icon ratingStar"></i>
        <i (click)="rateBook(5)" class="star outline icon ratingStar"></i>
    </div>
    <div class="field">
        <label>Kommentar</label>
        <textarea formControlName="comment" rows="3"></textarea>
        <div *ngIf="errors.comment" class="ui negative message"> {{ errors.comment }} </div>
    </div>
    <button type="submit" class="ui teal button" [disabled]="myForm.invalid || errors.stars">Bewerten</button>
</form>