<div class="ui grid container" *ngIf="book">
  <div class="ui sixteen wide column">
    <button *ngIf="authService.isAdmin()" class="ui tiny teal labeled icon button"
            (click)="removeBook()">
      <i class="remove icon"></i> Buch löschen
    </button>
    <a *ngIf="authService.isAdmin()" class="ui tiny teal labeled icon button"
       [routerLink]="['../../admin', book?.isbn]">
      <i class="write icon"></i> Buch bearbeiten
    </a>
  </div>
  <div class="four wide column">
      <img *ngIf="!book.images.length" class="ui large image" src="../../assets/default.gif"/>

      <img class="ui large image"
         *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ book?.title }}</h1>
    <h3 class="ui header">{{ book?.subtitle }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="let author of book?.authors; last as l">
         {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
       </span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">ISBN</h4>
        <span>{{ book?.isbn }}</span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Erschienen</h4>
        <span>{{ book?.published }}</span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Rating</h4>
        <i *ngFor="let r of getRating(book?.ratings)" class="yellow star icon"></i>
        <i *ngFor="let r of getEmptyStars(book?.ratings)" class="star outline icon"></i>
      </div>
    </div>
    <h3 class="ui header">Preis: {{book?.price}} €</h3>
    <div *ngIf="!authService.isAdmin()">
      <button  (click)="addToShoppingCart()" class="ui teal button">In den Warenkorb
        <i class="shopping cart icon"></i>
      </button>
      <small *ngIf="addedToShoppingCart()">Zum Warenkorb hinzugefügt!</small>
    </div>
    <div *ngIf="book.description" class="wide column">
      <h3 class="ui header">Beschreibung</h3>
      {{ book?.description }}
    </div>
  </div>
  <div *ngIf="book.images.length" class="ui sixteen wide column">
    <h3 class="ui header">Mehr Bilder:</h3>
    <div class="ui small images">
      <img *ngFor="let thumbnail of book?.images" [src]="thumbnail.url">
    </div>
  </div>
  <div *ngIf="authService.isShopUser()" class="ui sixteen wide column">
    <bs-rating-item [book]="book"></bs-rating-item>
  </div>
  <div class="ui">
    <a routerLink="ratings" routerLinkActive="active" class="ui teal button">Bewertungen ansehen</a>
  </div>
</div>



