<div class="ui middle aligned selection divided list container">
  <h2 class="ui header">Bestellübersicht</h2>
    <div>
        <h3 class="ui header">Rechnungs- und Lieferadresse</h3>
        <div class="name">Name: {{user.firstname}} {{user.lastname}}</div>
        <div class="street">Straße: {{user.street}}</div>
        <div class="pcCity">PLZ und Stadt: {{user.postalcode}} {{user.city}}</div>
    </div>
    <h3 class="ui header">Bücher</h3>
    <bs-book-order-item [books]="books"></bs-book-order-item>
    <div class="ui right aligned grid">
        <div class="left floated right aligned sixteen wide column">
            <div>
                <button class="ui tiny teal button" (click)="placeOrder()">Bestellen</button>
            </div>
            <div>
                <button class="ui tiny teal button" [routerLink]="['../shoppingcart']">Zurück zum Warenkorb</button>
            </div>
        </div>

    </div>
  <div *ngIf="!books" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
</div>