<div class="ui selection divided list">
    <div *ngFor="let book of books"  class="item">
        <img class="ui tiny image"
             *ngIf="book.images && book.images[0]"
             [src]="book.images[0].url">
        <div class="content">
            <div class="header">{{ book.title }}</div>
            <div class="description"> {{ book.subtitle }} </div>
            <div class="metadata">
                   <span *ngFor="let author of book.authors; last as l">
                     {{ author.firstName }}{{ author.lastName }}<span *ngIf="!l">, </span>
                   </span>
            </div>
            <div class="extra">ISBN {{ book.isbn }}</div>
            <div class="amount">Menge: {{getAmount(book.id)}}</div>
            <div class="price">Preis: {{getBookPrice(book)}} €</div>
            <div *ngIf="isShoppingCart()">
                <button (click)="removeAmount(book.id, book)" class="ui button" type="button">-</button>
                <button (click)="addAmount(book.id, book)" class="ui button" type="button">+</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="books && books.length > 0" class="ui right aligned grid">
    <div class="left floated right aligned sixteen wide column">
        <div>Nettopreis: {{getNettoPrice()}} €</div>
        <div><small>+10% USt.</small> Bruttopreis: {{getBruttoPrice()}} €</div>
        <div><small>+5.95 € Versandkosten</small> Gesamtwert: {{getPrice()}} €</div>
    </div>

</div>