<img class="ui fluid home_image image" src="../../assets/buecher.jpg"/>
<div class="ui container">
    <h1>Home</h1>
    <p>Das ist der KWM Bookstore.</p>
    <a routerLink="../books" class="ui teal button">
        Buchliste ansehen
        <i class="right arrow icon"></i>
    </a>
</div>
