/* You can add global styles to this file, and also import other style files */

* {
    word-break: break-all;
}

@media (min-width: 700px) {

    .ui.grid.login > .column:only-child {
        width: 75%;
    }

}

@media (min-width: 1000px) {

    .ui.grid.login > .column:only-child {
        width: 50%;
    }

}

.ui.teal.button {
    margin-bottom: 1rem;
    margin-right: 0;
}

.ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
    margin: 0 !important;
    opacity: 1;
}

.buttons.shopping_cart{
    position: absolute;
    z-index: 1000;
    right: 0;
}

.home_image {
    margin-top: -1rem;
    margin-bottom: 1rem;
}