<div class="ui middle aligned center aligned grid login container">
  <div *ngIf="!isLoggedIn()" class="column">
    <h1>Login</h1>
    <form  class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email" id="username" formControlName="username" placeholder="E-Mail">
          </div>
          <div *ngIf="loginForm.get('username').invalid &&
            (loginForm.get('username').dirty || loginForm.get('username').touched) &&
            loginForm.get('username').hasError('required')" class="ui negative message">
            Benutzername ist verpflichtend </div>
          <div *ngIf="loginForm.get('username').invalid &&
          (loginForm.get('username').dirty || loginForm.get('username').touched) &&
          loginForm.get('username').hasError('email')" class="ui negative message">
            E-Mail Format überprüfen </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password" placeholder="Passwort">
          </div>
          <div *ngIf="loginForm.get('password').invalid &&
          (loginForm.get('password').dirty || loginForm.get('password').touched)" class="ui negative message">
            Passwort ist verpflichtend </div>
        </div>
      </div>

      <button type="submit" class="ui fluid large teal submit button" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  <div *ngIf="isLoggedIn()" class="column">
    <h2>Logout</h2>
    <button type="button" class="ui fluid large teal submit button" (click)="logout()">Logout</button>
  </div>
</div>
<div *ngIf="authService.isShopUser()" class="ui container">
  <h2>Meine Bestellungen</h2>
  <div *ngIf="!this.orders || this.orders && !this.orders.length">Es sind noch keine Bestellungen getätigt worden.</div>
  <div *ngFor="let order of this.orders">
    <div class="ui divider"></div>
    <h3>Bestellnr: {{order.id}}</h3>
    <div>Bestelldatum: {{order.updated_at}}</div>
    <h4 class="ui header">Bücher</h4>
    <bs-book-order-item [books]="order.books"></bs-book-order-item>
  </div>
</div>



