
<div class="ui grid container" *ngIf="book">
  <div class="four wide column">
    <img class="ui large image"
         *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ book?.title }}</h1>
    <h3 class="ui header">{{ book?.subtitle }}</h3>

    <div class="ui comments">
      <h3 class="ui dividing header">Kommentare</h3>
        <div *ngFor="let r of getRatings()">
          <div class="comment">
            <div class="content">
              <div>Rating:
                <i *ngFor="let r of getFullStars(r.stars)" class="yellow star icon"></i>
                <i *ngFor="let r of getEmptyStars(r.stars)" class="star outline icon"></i>
              </div>
              <a class="author">{{getUser(r)}}</a>
              <div class="metadata">
                <span class="date">{{r.updated_at}}</span>
              </div>
              <div class="text">
                {{r.comment}}
              </div>
            </div>
          </div>
        </div>
    </div>
    <p *ngIf="book.ratings && !book.ratings.length">Es wurden noch keine Bewertungen eingetragen.</p>
    <div *ngIf="authService.isShopUser()" class="ui sixteen wide column">
      <bs-rating-item [book]="book"></bs-rating-item>
    </div>
    <a routerLink="../" routerLinkActive="active" class="ui teal button">zurück zum Buch</a>
  </div>

</div>


