<div class="ui middle aligned container">
    <h2 class="ui header">Warenkorb</h2>
    <p *ngIf="!books || books && !books.length">Es wurden noch keine Bücher in den Warenkorb gelegt.</p>
    <bs-book-order-item [books]="books"></bs-book-order-item>

    <div *ngIf="books && books.length > 0" class="ui right aligned grid">
        <div class="left floated right aligned sixteen wide column">
            <div *ngIf="authService.isLoggedOut()">
                <div>Sie müssen sich einloggen, um zu bestellen!</div>
                <button class="ui tiny teal button" [routerLink]="['../account']">Einloggen</button>
            </div>
            <div *ngIf="authService.isShopUser()">
                <button class="ui tiny teal button" [routerLink]="['../order']">Zur Kassa gehen</button>
            </div>
        </div>
    </div>
</div>