<div class="ui container">
  <h1>Buchformular</h1>
  <form  class="ui large form" [formGroup]="myForm" (ngSubmit)="submitForm()">
    <input type="hidden" name="id">
    <div class="field">
      <label>Buchtitel</label>
      <input formControlName="title">
      <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }} </div>
    </div>
    <div class="field">
      <label>Untertitel</label>
      <input formControlName="subtitle">
    </div>
    <div class="field" [class.disabled]="isUpdatingBook">
      <label>ISBN-Nummer</label>
      <input formControlName="isbn">
      <div *ngIf="errors.isbn" class="ui negative message">{{ errors.isbn }} </div>
    </div>
    <div class="field">
      <label>Erscheinungsdatum</label>
      <input type="date" useValueAsDate formControlName="published">
      <div *ngIf="errors.published" class="ui negative message">{{ errors.published }}</div>
    </div>
    <div class="field">
      <label>Beschreibung</label>
      <textarea formControlName="description" rows="3"></textarea>
    </div>
    <div class="field">
      <label>Preis</label>
      <input type="number" formControlName="price">
      <div *ngIf="errors.price" class="ui negative message">{{errors.price}}</div>
    </div>
    <div class="fields">
      <div class="eight wide field">
        <label>Autoren</label>
        <div *ngFor="let author of getAuthors(); index as i;">
          <div>
            <button (click)="removeAuthor(index)" class="ui mini button" type="button">-</button>
            <span>{{author.firstName}} {{author.lastName}}</span>
          </div>
        </div>
        <div *ngIf="errors.authors" class="ui negative message">{{errors.authors}}</div>
      </div>
      <div class="eight wide field">
        <label>Weitere Autoren hinzufügen</label>
        <div *ngFor="let author of getFreeAuthors()">
          <div>
            <button (click)="addAuthor(author)" class="ui mini button" type="button">+</button>
            <span>{{author.firstName}} {{author.lastName}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Bilder</label>
      <div formArrayName="thumbnails">
        <div class="fields" *ngFor="let control of thumbnails.controls; index as i; last as l" [formGroupName]="i">
          <input type="hidden" name="id">
          <div class="nine wide field">
            <input formControlName="url" placeholder="http://bild{{i+1}}_url">
          </div>
          <div class="six wide field">
            <input formControlName="title" placeholder="Bild{{i+1}}_Titel">
          </div>
          <div class="one wide field" *ngIf="!l">
            <button (click)="removeThumbnailControl(i)" class="ui large button" type="button">-</button>
          </div>
          <div class="one wide field" *ngIf="l">
            <button (click)="addThumbnailControl()" class="ui large button" type="button">+</button>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="ui teal button" [disabled]="myForm.invalid || errors.authors">Speichern</button>
  </form>
</div>
